body {
  background-color: #B8E6ED;
}

#header {
  position: fixed;
  left: 50%;

  max-width: 90%;

  transform: translateX(-50%);
  text-align: center;
}

#player {
  display: none;
  align-items: center;

  box-sizing: border-box;
  width: 400px;
  min-width: max-content;
  max-width: 100%;
  padding: 10px;

  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

  background: rgba(0, 0, 0, 0.2);
}

.playerTime {
  padding: 0 5px;

  color: white;
}

#slider {
  flex: auto;

  width: 15px;
  height: 10px;

  cursor: pointer;

  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.4);

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background: white;

  -webkit-appearance: none;
}

#slider::-moz-range-thumb {
  width: 15px;
  height: 15px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background: white;

  -moz-appearance: none;
}

.playerControl {
  width: 14px;
  margin-left: 8px;
  padding: 0 5px;

  cursor: pointer;
}

#pause {
  display: none;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

footer {
  position: fixed;
  bottom: 0;

  margin: 5px;
}

#copyright {
  left: 50%;

  transform: translateX(-50%);
  white-space: nowrap;
}

@media only screen and (max-width: 335px) {
  #copyright {
    display: none;
  }
}

#github {
  right: 0;
}

#octocat {
  width: 30px;

  vertical-align: bottom;
}
