body {
  background-color: #b8e6ed;
}

div {
  position: fixed;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

footer {
  position: fixed;
  bottom: 5px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
